<!DOCTYPE html>
<html lang="en">
<head>
    <title>VS Eat</title>
    <meta charset="utf-8">
</head>

<body>
    <header class="titre">
        <h1>Vs Eat</h1>
    </header>

    <div class="recherche">
        <p>Commandez maintenant</p>
    </div>

    <img src="~/Content/Images/hes.png" alt="logo hes"/>

</body>
</html>



