<!DOCTYPE html>
<html lang="en">
<!--Main customer page-->
<head>
    <title>VS Eat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/HomeIndex.css">
</head>

<body>
    <div class="titre">
        <h1>Vs Eat</h1>
    </div>

    <div class="recherche">
        <a href="@Url.Action("Index", "Restaurant")" class="a">Command now</a>
    </div>


</body>
</html>

