<!DOCTYPE html>
<html lang="en">
<head>
    <title>VS Eat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/HomeIndex.css">
</head>

<body>
    <header class="titre">
        <h1>Vs Eat</h1>
        <p class="login">Login</p>
    </header>

    <div class="recherche">
        <a href="@Url.Action("Index", "Restaurant")">Command now</a>
    </div>

    <div class="remplissage" />


</body>
</html>

