<!DOCTYPE html>
<html lang="en">
<head>
    <title>VS Eat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/HomeIndex.css">
</head>

<body>
    <header class="titre">
        <h1>Vs Eat</h1>
        <p>Login</p>
    </header>

    <div class="recherche">
        <p>Commandez maintenant</p>
    </div>

    <div class="logo">
        <img src="~/images/hes_petit.png" alt="logo hes" />
    </div>

    <div class="remplissage"/>

</body>
</html>

