@model DTO.Order

@{
    ViewData["Title"] = "CancelOrder";
}

<h2>CancelOrder</h2>

<!--Form that will ask the user to complete the following field-->
@using (Html.BeginForm())
{
<label>To cancel your order, please, insert the number of the order and your Forname Name Like the example : </label>
    <input type="text" name="retour" id="retour" placeholder="Ex : 21JohnSmith" required />

    <input asp-action="TransitionCancel" type="submit" name="Cancel Order" />
}
