@model VSEat.Models.Customer
    <link rel="stylesheet" href="~/css/PourTous.css" />
@{
    ViewData["Title"] = "Create";
}
<!--Account creation page-->
<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" autofocus />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cityCode" class="control-label"></label>
                <!-- List of our cities-->
                <select asp-for="cityCode" class="form-control text-center center-block">
                    <option value=1920>Martigny</option>
                    <option value=1950>Sion</option>
                    <option value=1974>Arbaz</option>
                    <option value=3960>Sierre</option>
                    <option value=3963>Crans-Montana</option>
                </select>
                
                <span asp-validation-for="cityCode" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                <a href="@Url.Action("Index", "Customer")" class="btn btn-default">Back</a>
            </div>
        </form>
    </div>
</div>
<hr />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
