.conteneur {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 300px;
    margin: auto;
}

.names {
    width: 300px;
    margin: auto;
}

.copyright {
    width: 300px;
    margin: auto;
}
