
@{
    ViewData["Title"] = "Command";
}

<link rel="stylesheet" href="~/css/command.css">
<h2>Command</h2>

<p>Votre commande :</p>

<!--afficher la liste de la commande-->

<p>Price : </p>
<!--afficher le prix-->

<p>At what time do you want to be delivered ?</p>

<!--insérez la date-->

<a asp-action="FinishCommand" class="command">finish the command</a>