<link rel="stylesheet" href="~/css/PourTous.css" />
<!--Page with the finished order and the price that the customer has to pay-->
@{
    ViewData["Title"] = "Command";
}
<link rel="stylesheet" href="~/css/command.css">

    <h2>Thank you for your command</h2>

    <p>A deliverer will come to your house to bring you your dish</p>

    <p>you will have to pay him : @ViewBag.prix CHF</p>


<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back to the home page</a>
<hr />