
@{
    ViewData["Title"] = "FinishCommand";
}
    <link rel="stylesheet" href="~/css/command.css">
    <h2>Thank you for your command</h2>

    <p>A deliverer will come to your house to bring you your dish</p>

<a href="@Url.Action("Index", "Home")" class="command">Back to the home page</a>