@model IEnumerable<DTO.Restaurant>
<!-- List of all restaurants-->
    <link rel="stylesheet" href="~/css/RestoIndex.css">
    <link rel="stylesheet" href="~/css/PourTous.css" />
@{
    ViewData["Title"] = "GetRestaurants";
    IEnumerable<DTO.City> cities = ViewData["Cities"] as IEnumerable<DTO.City>;
}


<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p class="p">Name</p>
            </th>
            <th>
                <p class="p">Ville</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string citystring = "";
        <tr class="boutons">
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @foreach (var city in cities)
                { //Get the City name according to the city code
                    if (item.cityCode == city.cityCode)
                    {
                        citystring = city.name;
                    }
                }
                        @citystring
                    </td>
            <td class="btn btn-default">
                @Html.ActionLink("Dishes of Restaurant","Plat", new { id=item.restaurant_Id})
            </td>
        </tr>
}
    </tbody>
</table>
<hr />