@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "GetRestaurants";
    IEnumerable<DTO.City> cities = ViewData["Cities"] as IEnumerable<DTO.City>;
}
<style>
    p 
    {
        font-weight: bold;
    }
</style>


<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Ville</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string citystring = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @foreach (var city in cities)
                {
                    if (item.cityCode == city.cityCode)
                    {
                        citystring = city.name;
                    }
                }
                        @citystring
                    </td>
            <td>
                @Html.ActionLink("Afficher les plats du restaurant","Plat", new { id=item.restaurant_Id})
            </td>
        </tr>
}
    </tbody>
</table>
