@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "GetRestaurants";
    
}
<style>
    p 
    {
        font-weight: bold;
    }
</style>


<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Ville</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityCode)
            </td>
            <td>
                @Html.ActionLink("Afficher les plats du restaurant","Plat", new { id=item.restaurant_Id})
            </td>
        </tr>
}
    </tbody>
</table>
