@model IEnumerable<DTO.Dish>

@{
    ViewData["Title"] = "Plat";
}
<link rel="stylesheet" href="~/css/restoPlats.css">
<h2>Plats</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Price</p>
            </th>
            <th>
                <p>Quantity</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    
                    <input type="number" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="bouton_conteneur">
    <a asp-action="Index" class="back">Back to List</a>
    <a asp-action="Index" class="command">Command</a>
</div>