@{
    ViewData["Title"] = "Delivered";
}
<link rel="stylesheet" href="~/css/command.css">
<h2>Order delivered !</h2>

<p>The order has been correctly delivered :)</p>



<a href="@Url.Action("Details", "DeliveryStaff",new { id = ViewBag.idDL })" class="command">Back to the orders list</a>